<div class="container">
  <div class="row">
      <!--<p>Red</p>
    <h1>
      Hola mundo
    </h1>
 
    <div>
      {{title}}
    </div>
    <div class="border-bottom border-danger text-center">
      <h2>La suma de 2 + 2 es {{2+2}}</h2>
      <h3>El doble  de 3 es {{doblenumero(3)}}</h3>
    </div>
 
    <div>
      <h2>Nombre: {{alumno.nombre |uppercase}}</h2>
      <h2>Edad: {{alumno.edad}}</h2>
      <h2>curso: {{alumno.curos}}</h2>
      <h2>fecha: {{alumno.fechaInscrito | date:"dd-MM-yy"}}</h2>
      <h2>pago: {{alumno.pago}}</h2>
    </div>
  -->
    <app-product-list></app-product-list>
  </div>
</div>
 